{
	"extends": [ "axway/env-node" ],
	"overrides": [
		{
			"extends": [ "axway/+typescript" ],
			"files": [ "**/*.ts" ],
			"parserOptions": {
				"project": "./tsconfig.json"
			},
			"rules": {
				"n/no-unsupported-features/es-syntax": ["warn", {
					"ignores": [
						"modules"
					]
				}]
			}
		}
	]
}
