completions.js
node_modules
.vscode-test/
*.vsix
.DS_Store
out/
!packages/tidev-remotedebug-ios-webkit-adapter/out/
!packages/tidev-remotedebug-ios-webkit-adapter/out/**
out.json
junit_report.xml
coverage/
.nyc_output/
test-resources/
junit_report-ui.xml
